
!typescript/jest.config.js
typescript/*.d.ts
node_modules
typescript/.package-lock.json

examples/chat-demo-app/cdk.out

examples/chat-demo-app/lib/**/*.js
examples/chat-demo-app/bin/*.js

!examples/lambda/url_rewrite/*.js
examples/resources/ui/public/aws-exports.json
examples/resources/ui/dist
examples/text-2-structured-output/venv


.DS_Store

typescript/dist/**/*

typescript/*.tgz
*aws-exports.json
!download.js

examples/local-demo/.env
typescript/coverage/**/*

.venv
examples/chat-chainlit-app/venv

*.env
*__pycache__

git-release-notes.genai.mjs

