
!jest.config.js
*.d.ts
node_modules
.package-lock.json

# CDK asset staging directory
.cdk.staging
cdk.out

lib/**/*.js
bin/*.js

!lambda/url_rewrite/*.js 
resources/ui/public/aws-exports.json
resources/ui/dist


.DS_Store

**/dist/**/*

*.tgz
*aws-exports.json
!download.js

examples/local-demo/.env

coverage/**/*